@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll{
  animation: mover 1s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.scrollup{
  animation: fadeOutDown 1s 1  forwards;
}
.scrolldown{
  animation: fadeInUp 1s 1  forwards;
}

@keyframes fadeOutDown {
  0% {
     opacity: 1;
     transform: translateY(0);
  }
  100% {
     opacity: 0;
     transform: translateY(20px);
  } 
} 
@keyframes fadeInUp {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  } 
} 
.try:hover .fa-arrow-right{
  transform: translateX(10px);
}

.deases {
  grid-template-columns: repeat(auto-fit, minmax(0, min(100%/1, max(300px, 100%/5))));
  place-content: center;
}
.deases {
  grid-template-columns: repeat(auto-fit, minmax(0, min(100%/1, max(300px, 100%/5))));
  place-content: center;
}

.child {
  width: 300px;
  height: 300px;
  max-width: 100%;
}

.player{
  animation: pop 0.2s linear forwards;
}

@keyframes pop{
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes unpop{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(0);
  }
}

.symplist{
  transform: scale(0);
}
